:root {
  --color-background: #fff;
  --color-dark: #f2f2f2;
  --color-text: #101010;
  --color-highlight-dull: #ccc;
  --color-highlight: #f30;
}

html {
  box-sizing: border-box;
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui,
    helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  background: var(--color-background);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
p,
input {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

